<div class="dayInfo">
    <div class="time">
        <span class="day">{{currentTime|date:'dd'}}</span>
        <span class="month">{{currentTime|date:'MM'}}月</span>
    </div>
</div>
<div class="infoList">
    <div class="infoItem" *ngFor="let item of newsList">
        <div class="infoLeft">
            <div class="infoTime">
                {{item.data.created_at|totime|date:'HH:mm'}}
            </div>
        </div>
        <div class="infoRight">
            <p class="info">
                {{item.data.text}}
            </p>
        </div>
    </div>
</div>